.nav-items {
  @apply flex justify-between items-center px-[100px] mt-[64px] mb-[122px] text-white;

  .page-title {
    @apply flex font-[700] text-[3rem];
  }
  .get-div {
    @apply h-auto w-auto p-[1px] font-bold;
    background: linear-gradient(92.7deg, #5404ff 7.9%, #ba2ad1 88.1%);
    border-radius: 6.25rem;
    .request {
      @apply h-12 w-48 outline-none font-bold;
      border-radius: 6.25rem;
      background: #121b27;
    }
  }
}
